:root {
   --dark-grayish-blue: hsl(217, 19%, 35%);
   --dark-blue: hsl(214, 17%, 51%);
   --grayish-blue: hsl(212, 23%, 69%);
   --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
   color: var(--grayish-blue);
   background-color: var(--light-grayish-blue);
   font-family: "Manrope", sans-serif;
   font-size: 13px;
}

main {
   display: flex; 
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 97vh;
}
.container {
   display: flex;
   width: 730px;
   padding: 50px auto;
   justify-content: center;
   align-items: center;
   align-self: center;
   background-color: #fff;
   border-radius: 5px;
   gap: 40px;
   
}
.drawers-img {
   display: block;
   width: 285px;
   height: 285px;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}

.text-and-profile-wrapper {
   display: flex;
   flex-direction: column;
   margin: 0 0 20px 0;
   border-radius: inherit;
}
.para1 {
   color: var(--dark-grayish-blue);
   width: 88%;
   font-weight: 700;
   font-size: 19px;
}
.para2 {
   width: 92%;
}

.profile-and-share-props-wrapper {
   display: flex; 
   justify-content: space-between; 
   align-items: center;
   margin-right: 20px;
}
.profile-wrap {
   display: flex;
   align-items: center;
   gap: 15px;
}
.avatar-michelle {
   width: 60px;
   border-radius: 50%;
}
.name {
   display: block;
   color: var(--dark-grayish-blue);
   font-weight: 500;
   font-size: 16px;
}

.share-props {
   display: flex;
   flex-direction: column;
}
button.share-icon {
   color: var(--dark-grayish-blue);
   width: 40px;
   height: 40px;
   margin-right: 25px ;
   background-color: var(--light-grayish-blue);
   border: none;
   border-radius: 50%;
   font-size: 20px;
   cursor: pointer;
} 
.share-option {
   display: none;
   position: absolute;
   top: 48%;
   right: 18.3%;
   padding: 13px 35px;
   background-color: var(--dark-grayish-blue);
   border-radius: 5px;
}
.share-option a {
   color: #fff;
   margin: 0 10px;
   font-size: 15px;
}

         /* Mobile View Breakpoints */
   @media screen and (max-width: 800px) {
      .container {
         flex-direction: column;
         gap: 10px;
      }

      main {
         align-self: center;
         margin: auto;
      }

      .drawers-img {
         display: block;
         width: 100%;
         height: auto;
         border-top-left-radius: 5px;
         border-top-right-radius: 5px;
         border-bottom-left-radius: unset;
      }

      .para1 {
         width: 90%;
         margin: 1.5rem;
      }
      .para2 {
         width: 82%;
         margin: 0 1.5rem 0 1.5rem;
         font-size: 17px;
      }

      .profile-and-share-props-wrapper {
         position: relative;
      }
      .profile-wrap {
         margin: 1.5rem;
      }

      button.share-icon {
         margin-right: 10px ;
         z-index: 10;
      } 

      .share-option {
         position: absolute;
         /* display: flex; */
         top: 30px;
         left: 0;
         right: 0;
         width: 105%;
         height: 100px;
         justify-content: center;
         align-items: center;
         padding: 0;
         border-radius: 0 0 10px 10px;
      }
      .share-option span.share,
      .share-option a {
         align-self: center;
         font-size: 22px;
      }
      
    }


   @media screen and (max-width: 359px) {
      main {
         height: 100%;
         margin: auto;
      }
      /* .container {
         flex-direction: column;
         padding-bottom: 10px;
         gap: 10px;
      } */
      /* .drawers-img {
         display: block;
         width: 100%;
         height: auto;
         border-top-left-radius: 5px;
         border-top-right-radius: 5px;
         border-bottom-left-radius: unset;
      } */
      .text-and-profile-wrapper {
         margin: auto;
      }
      .para1 {
         width: 95%;
         margin: 0.5rem;
      }
      .para2 {
         width: 90%;
         margin: 0.5rem;
         font-size: 16px;
      }

      .profile-wrap {
         margin: 0.5rem;
      }

      /* button.share-icon {
         margin-right: 10px ;
         z-index: 10;
      }  */
      .share-option {
         position: absolute;
         /* display: flex; */
         top: 15px;
         left: 0;
         right: 0;
         width: 107%;
         height: 70px;
         justify-content: center;
         align-items: center;
         padding: 0;
         border-radius: 0 0 10px 10px;
      }
      /* .share-option span.share,
      .share-option a {
         align-self: center;
         font-size: 22px; 
      } */
   }
