:root {
   --dark-grayish-blue: hsl(217, 19%, 35%);
   --dark-blue: hsl(214, 17%, 51%);
   --grayish-blue: hsl(212, 23%, 69%);
   --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
   color: var(--grayish-blue);
   background-color: var(--light-grayish-blue);
   font-family: "Manrope", sans-serif;
   font-size: 13px;
}

main {
   display: flex; 
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 97vh;
}
.container {
   display: flex;
   width: 730px;
   padding: 50px auto;
   justify-content: center;
   align-items: center;
   align-self: center;
   background-color: #fff;
   border-radius: 5px;
   gap: 40px;
   
}
.drawers-img {
   display: block;
   width: 285px;
   height: 285px;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}

.text-and-profile-wrapper {
   display: flex;
   flex-direction: column;
   margin: 0 0 20px 0;
   border-radius: inherit;
}
.para1 {
   color: var(--dark-grayish-blue);
   width: 88%;
   font-weight: 700;
   font-size: 19px;
}
.para2 {
   width: 92%;
}

.profile-wrap {
   display: flex;
   align-items: center;
   gap: 15px;
}
.avatar-michelle {
   width: 60px;
   border-radius: 50%;
}
.name {
   display: block;
   color: var(--dark-grayish-blue);
   font-weight: 500;
   font-size: 16px;
}

.share-props {
   display: flex;
   flex-direction: column;
}
button.share-icon {
   color: var(--dark-grayish-blue);
   width: 40px;
   height: 40px;
   margin-right: 25px ;
   background-color: var(--light-grayish-blue);
   border: none;
   border-radius: 50%;
   font-size: 20px;
   cursor: pointer;
} 
.share-option {
   display: none;
   position: absolute;
   top: 48%;
   right: 18.3%;
   padding: 13px 35px;
   background-color: var(--dark-grayish-blue);
   border-radius: 5px;
}
.share-option a {
   color: #fff;
   margin: 0 10px;
   font-size: 15px;
}
